.form-group
  .col-sm-2.col-form-label
    = f.label :create_chat_team do
      %span.mattermost-icon
        = custom_icon('icon_mattermost')
      Mattermost
  .col-sm-10
    .form-check.js-toggle-container
      .js-toggle-button.form-check-input= f.check_box(:create_chat_team, { checked: true }, true, false)
      = f.label :create_chat_team, class: 'form-check-label' do
        为此群组创建 Mattermost 团队
      %br
      %small.light.js-toggle-content
        Mattermost URL:
        = Settings.mattermost.host
        %span> /
        %span{ "data-bind-out" => "create_chat_team" }
